.navbar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.2em;
  margin-bottom: 2em;
  background-color: #333;
  color: #fff;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      margin-left: 0.5em;
    }
  }

  .links {
    display: flex;
    list-style: none;

    li {
      margin-right: 1.3em;
    }

    a {
      color: #fff;
      text-decoration: none;
      padding: 5px;
      transition: 0.4s;
      border-bottom: 2px solid transparent;

      &:hover {
        border-color: #fff;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 150px;

  span {
    font-weight: bold;
  }
}